*.class
*.hprof
*.pyc
*.swp
*.iml
*hs_err_pid*
*stdout.txt
*~
/AwsCredentials.properties
TAGS
bin/
build/
lib/
classes/
test-output/
out/
.idea/
*.ipr
*.iws
*.h4xd
.settings/*
gradle-app.setting
.gradle
.DS_Store
.DS_Store?
private/

# Ignore Eclipse project settings
.classpath
.project
.settings/
build/*
